h1, h2, h3 {
    line-height: 1.2;
    text-align: center;
}

h2 {
    padding-top: 10% ;
}

h3 {
    padding: 2%;
/*    background-color: #00B4D8; */
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F2FDFF;
    background-color: #565264;
    margin: 0 20% 10% 20%;
    line-height: 1.5;
    padding: 10px 0;
    max-width: 75%;
}

.navigation-bar{
    font-weight: 600;
    display: flex;
    background-color: #A6808C;
    justify-content: center;
}

.navigation-bar a {
    color: #F2FDFF;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #706677;
    transition: ease-in 0.15s;
}

aside{
    font-size: small;
    font-style: italic;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects div {
	margin: 16px;
    	padding: 0 16px;
}

img {
    width: 300px;
    height: 300px;
}

p {
    width: 250px;
    height: 75px;
}

footer {
    margin-top: 5%;
}

@media (max-width: 840px) {
    .navigation-bar {
        text-align: center;
        flex-direction: column;
        margin: 0;
        max-width: 100%;
    }

    .navigation-bar a{
        border: 1px solid #CAF0F8;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
    }

    .projects div {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    p {
        width: auto;
    }
}
